<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/vaccination']"
      ><mat-icon>list</mat-icon></a
    >
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        ><h2>{{ vaccination.vac_id }}</h2></mat-card-title
      >
      <mat-card-subtitle>{{ vaccination.vac_desc }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Vaccination ID:</dt>
        <dd>{{ vaccination.vac_id }}</dd>
        <dt>Vaccinations</dt>
        <dd>{{ vaccination.vac_desc }}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/vaccination-edit', vaccination._id]"
        ><mat-icon>edit</mat-icon></a
      >
      <a mat-flat-button color="warn" (click)="deleteVac(vaccination._id)"
        ><mat-icon>delete</mat-icon></a
      >
    </mat-card-actions>
  </mat-card>
</div>
