<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="vacDetails()"
      ><mat-icon>info</mat-icon></a
    >
  </div>
  <mat-card class="example-card">
    <form [formGroup]="vacForm" (ngSubmit)="onFormSubmit(vacForm.value)">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Vaccination ID"
          formControlName="vac_id"
          [errorStateMatcher]="matcher"
          type="number"
        />
        <mat-error>
          <span
            *ngIf="
              !vacForm.get('vac_id').valid && vacForm.get('vac_id').touched
            "
            >Please enter a Numerical Vaccination ID</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Vaccination Description"
          formControlName="vac_desc"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !vacForm.get('vac_desc').valid && vacForm.get('vac_desc').touched
            "
            >Please enter a Valid Vaccination Description</span
          >
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button
          type="submit"
          [disabled]="!vacForm.valid"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
